body {
  display: flex;
  flex-direction: column;
  width: 1000px;
  gap: 10px;
  margin: auto;
  margin-top: 100px;
}

canvas {
  border: 1px solid black;
}

p {
  font-size: 20px;
  margin: 5px 0;
}
